/*---------*/
/* GENERAL */
/*---------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, button, ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    text-decoration: underline;
}

button {
    background-color: rgb(21, 21, 21);
    color: white;
    border: 3px solid blue;
    padding-inline: 30px;
    padding-block: 10px;
    transition: all 0.4s ease;
    margin-block: 20px;
    margin-right: 1%;
}

button:hover {
    border: 3px solid rgb(46, 46, 250);
    background-color: rgb(70, 70, 70);
}

/*------*/
/*Colors*/
/*------*/

red {
    color: red;
}

green {
    color: green;
}

orange {
    color: orange;
}

blue {
    color: blue;
}

/*-----------------------------*/
/* SIMPLE - top, bottom, midle */
/*-----------------------------*/

.top {
    width: 100%;
    height: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    /*background-color: rgb(41, 41, 41);*/
    background-color: black;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom {
    width: 100%;
    height: 10vh;
    /*background-color: rgb(41, 41, 41);*/
    background-color: black;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.midle {
    background-color: rgb(17, 17, 17);
    height: 80vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.simp-con {
    margin-inline: 200px;
}

@media screen and (max-width: 1050px) {
    .simp-con {
        margin-inline: 100px;
    }
}

@media screen and (max-width: 576px) {
    .simp-con {
        margin-inline: 30px;
    }
}